@import 'tailwindcss';

@font-face {
    font-family: "Outfit";
    display: swap;
    src: url("/infinite-loading-website/resources/Outfit-VariableFont_wght.ttf") format("woff2");
}

@theme{
    --font-sans: "Outfit", "sans-serif";
}

@keyframes wiggle {
    0%, 100% { transform: translateX(-50%) rotate(-2deg); }
    50% { transform: translateX(-50%) rotate(2deg); }
}
  
.wiggle-animation {
    animation: wiggle 0.5s ease-in-out infinite;
}